# build output
out
*.vsix
src/rust/parsing/target/**

# dependencies
node_modules

# code coverage
.nyc_output/**
coverage/**
coverage.json

# unit testing
test/temp/**
.vscode-test/**
.vscode-test-web/**

# integration testing
test-results/
playwright-report/
blob-report/
playwright-temp/
playwright/.cache/
