images/**
tools/**
docs/**
logo/**
.vscode/**
.vscode-test-web/**
src/**
test/**
node_modules/**
.gitignore
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.wdio-vscode-service
.nyc_output/**
coverage/**
coverage.json
wdio.log
.package.json
README.md
CHANGELOG.md
debug-profile.code-profile
_typos.toml
notes.md
npm-run.sh
.eslintrc
.eslintignore
.mocharc.js
.nvmrc
.prettierignore
environments.json
mise.toml
wdio.conf.mts
.github/**
dist/desktop/**
.jj/**
