[tools]
node = "20"
"npm:typescript" = "5.8.3"
"npm:vsce" = "2.15"
"npm:c8" = "latest"
"npm:http-server" = "14.1.1"
"npm:pnpm" = "10.13.1"
"ubi:haberdashpi/simple-src-docs" = "0.6.0"
watchexec = "2.3.2"
"cargo:wasm-pack" = "0.13.1"
"cargo:cargo-binutils" = "0.3.6"
"cargo:rustfilt" = "0.2.1"
"cargo:nu" = "0.109.1"
# this ensures that profiling tools (profdata, cov, etc...) as cargo subcommands
"github:taiki-e/cargo-llvm-cov" = "0.6.21"
"npm:lcov-summary" = "1.0.1"

[[tools.rust]]
version = "1.90"
targets = "wasm32-unknown-unknown"
components = "llvm-tools-preview"

[[tools.rust]]
version = "nightly"
targets = "wasm32-unknown-unknown"
components = "llvm-tools-preview"

[settings]
lockfile = true

[hooks]
postinstall = '''
rustup target add wasm32-unknown-unknown
rustup component add llvm-tools-preview
rustup target add wasm32-unknown-unknown --toolchain nightly
rustup component add llvm-tools-preview --toolchain nightly
nu -c 'if not ($env.CI? | default false | into bool) {
    # these components are installed separately during CI
    pnpm install --frozen-lockfile
    pnpm exec playwright install chromium
}'
'''

[tasks.lint]
run = 'pnpm exec eslint src'

[tasks.check-types]
depends = ['build-rust']
run = 'tsc --noEmit --project tsconfig.json'

# TODO: maybe consider using colons and figure out mise task hierarchies???
[tasks.build-rust]
dir = 'src/rust/parsing'
sources = ['src/**/*.rs', 'Cargo.toml']
outputs = ['lib/*']
run = [
    'wasm-pack build --target web --out-dir lib',
    'mkdir -p ../../../out',
    'cp lib/parsing_bg.wasm ../../../out/parsing_bg.wasm',
]

[vars]
coverage_options = '''--ignore-filename-regex '/.cargo/registry' --ignore-filename-regex '.rustup/toolchains' --ignore-filename-regex 'rustc/' --compilation-dir src/rust/parsing --instr-profile coverage/parsing.profdata --Xdemangler rustfilt'''

[tasks.test-rust]
dir = 'src/rust/parsing'
shell = 'nu -c'
env.RUST_BACKTRACE = "1"
run = '''
def main [...args] {
    if ($env.COVERAGE? | default false | into bool) {
        $env.RUSTFLAGS = '-C instrument-coverage --cfg coverage_nightly'
        $env.LLVM_PROFILE_FILE = 'coverage/parsing.profraw'

        cargo +nightly test --tests --no-run

        let object_files = cargo +nightly test --lib --no-run --message-format=json |
            from json -o | where profile?.test |
            get filenames.0 |
            each { |f| $'--object=($in)' }

        cargo +nightly test --lib ...$args -- --nocapture
        cargo +nightly profdata -- merge -sparse coverage/parsing.profraw -o coverage/parsing.profdata
        (cargo +nightly cov -- export {{vars.coverage_options}} --format=lcov ...($object_files) o>
            coverage/parsing.info)

        cargo +nightly cov -- report --use-color {{vars.coverage_options}} ...($object_files)
        cp coverage/parsing.info ../../../coverage/rs_coverage.info
    } else {
        cargo test ...$args -- --nocapture
    }
}
main
'''

[tasks.build]
depends = ['check-types', 'lint', 'build-rust']
sources = ['src/**/*.ts']
run = 'node esbuild.mjs'

[tasks.package]
depends = ['check-types', 'lint', 'build-rust']
sources = ['src/**/*.ts']
run = [
    'node esbuild.mjs --release',
    'node esbuild.mjs --web --release',
    'vsce package --no-dependencies',
]

[tasks.build-tests]
depends = ['check-types', 'lint', 'build']
sources = ['src/test/**/*.ts']
outputs = ['out/test/**/*.js']
run = 'tsc -p src/test --outDir out/test'

[tasks.test]
depends = ['build-tests']
shell = 'nu -c'
run = '''
if ($env.COVERAGE? | default false | into bool) {
    (pnpm exec vscode-test --config .vscode-test.mjs --extensionDevelopmentPath=.
        --version=insiders --coverage --coverage-output coverage/unit
        --coverage-reporter json)
} else {
    (pnpm exec vscode-test --config .vscode-test.mjs --extensionDevelopmentPath=.
        --version=insiders)
}
'''

[tasks.test-web]
depends = ['build --web']
shell = 'nu -c'
run = '''
(pnpm exec vscode-test-web --extensionDevelopmentPath=.
    --commit 7f08f95ad54782bd242f5536470b330282197333
    --extensionTestsPath=./out/browser/webExtensionTests.js)
'''

[tasks.run-web]
depends = ['build --web']
run = '''
(pnpm exec vscode-test-web --commit 7f08f95ad54782bd242f5536470b330282197333
        --extensionDevelopmentPath=.)
'''

[tasks.assemble-coverage]
shell = 'nu -c'
run = '''
c8 --temp-directory coverage/integration/tmp/ report -r json -o coverage/integration/
(pnpm exec istanbul-merge --out coverage/merged/coverage-final.json
    coverage/integration/coverage-final.json coverage/unit/coverage-final.json)
(pnpm exec nyc report -t coverage/merged --report-dir coverage -r lcov
    --exclude node_modules --exclude out --exclude .vscode-test
    --exclude src/test)
mv coverage/lcov.info coverage/ts_coverage.info

cat coverage/*_coverage.info o> coverage/lcov.info
lcov-summary coverage/lcov.info
'''

[tasks.test-integration]
depends = ['build', 'build-tests']
run = 'pnpm exec playwright test'

[tasks.extract-docs]
sources = ['README.md', 'src/extension/**/*.ts', 'src/rust/**/*.rs', 'src/docs/**/*.md']
outputs = ['docs/**/*.md']
run = ['simple-src-docs -d docs src README.md', 'cp src/docs/index.md docs/']

[tasks.extract-preset-docs]
sources = ['../../presets/**/*.toml', 'src/**/*.rs']
outputs = ['../../../docs/presets/*.md']
dir = 'src/rust/parsing/'
shell = 'nu -c'
run = '''
mkdir -v ../../../docs/presets
ls ../../presets/**/*.toml | each { |file|
    let tmp = (mktemp)
    let output = $"../../../docs/presets/($file.name | path parse | get stem).md"
    cargo run -- $file.name $tmp
    pnpm exec tsx src/build/prettify-bindings.ts ($tmp | path expand) ($output | path expand)
    rm $tmp
}
'''

[tasks.dev-docs]
depends = ['extract-docs', 'extract-preset-docs']
run = 'pnpm exec vitepress dev docs'

[tasks.build-docs]
sources = ['docs/**/*.md']
outputs = ['docs/.vitepress/dist/**/*']
depends = ['extract-docs', 'extract-preset-docs']
run = 'pnpm exec vitepress build docs'

[tasks.clean-docs]
shell = 'nu -c'
run = '''
let to_remove = glob docs/**/*.md
if not ($to_remove | is-empty) {
    rm ...$to_remove
}
'''

[tasks.report-coverage]
depends = ['test --coverage', 'test-integration']
run = ['c8 report -r html', 'http-server coverage']
