name: CI
on:
    push:
        branches:
            - main
        tags:
            - v[0-9]+.[0-9]+.[0-9]+
        paths:
            - src/**

    pull_request:
        types: ['opened', 'edited', 'reopened', 'synchronize', 'ready_for_review']

jobs:
    tests:
        name: Tests
        timeout-minutes: 60
        if: '! github.event.pull_request.draft'
        strategy:
            matrix: { environment: ['-web', ''] }
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Install Dev Environment
          uses: jdx/mise-action@v3
          with:
            experimental: true # enables postinstall hooks
            version: 2025.11.2
            install: true
            cache: true
        - name: Install Xvfb
          run: |
            sudo apt-get update
            sudo apt-get install -y xvfb libgbm1 libasound2 libnss3 libatk-bridge2.0-0 libgtk-3-0
        - name: Setup Node and Cache NPM
          uses: actions/setup-node@v6
          with:
            node-version: 20
            cache: 'pnpm'
        - name: Install node packages
          run: |
            pnpm install --frozen-lockfile
            pnpm exec playwright install chromium
        - name: Unit Tests
          env: { COVERAGE: 'true' }
          run: |
            mise test${{ matrix.environment }}
            mise test-rust
        - name: Integration Tests
          if: matrix.environment == ''
          env:
            COVERAGE: 'true'
            DEBUG: pw:browser # Temporary; here to troubleshoot headless setup for playwright
          run: mise run test-integration
        - uses: actions/upload-artifact@v4
          name: Upload Integration Logs
          if: ${{ !cancelled() && matrix.environment == ''}}
          with:
              name: test-results
              path: test-results/
              retention-days: 7
        - uses: actions/upload-artifact@v4
          name: Upload Integration Report
          if: ${{ !cancelled() && matrix.environment == ''}}
          with:
              name: playwright-report
              path: playwright-report/
              retention-days: 7
        - name: Assemble Coverage Results
          if: matrix.environment == ''
          run: mise assemble-coverage
        - name: Upload coverage to Codecov
          if: matrix.environment == ''
          uses: codecov/codecov-action@v4
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
