on:
  push:
    tags:
       - v[0-9]+.[0-9]+.[0-9]+

name: Deploy Extension
jobs:
  deploy:
      runs-on: macos-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dev Environment
        uses: jdx/mise-action@v3
        with:
          experimental: true # enables postinstall hooks
          version: 2025.11.2
          install: true
          cache: true
      - name: Setup Node and Cache NPM
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install node packages
        run: |
          pnpm install --frozen-lockfile
      - name: Package Extension
        id: package
        run: |
            PACKAGE_PATH=$(mise run package --force | grep "Packaged:" | sed -n 's/.*Packaged: \([^ ]*\).*/\1/p')
            echo "vsix_path=$PACKAGE_PATH" >> $GITHUB_OUTPUT
      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          extensionFile: ${{ steps.package.outputs.vsix_path }}
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ steps.package.outputs.vsix_path }}
